html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-color: #000;
}

.tetris-game-container {
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #aaa;
  border-radius: 10px;
  font-family: "Lato";
}

.tetris-game {
  position: relative;
  display: inline-block;
  margin: 20px;
}

ul {
  display: block;
  list-style: none;
  height: 20px;
}



li {
  display: inline-block;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  background-color: black;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
}

li:last-child {
  border-right: none;
}

ul:last-child > li {
  border-bottom: none;
}

.tetris-game-stats {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
}

.tetris-game-stats-header {
  font-family: "Oswald";
  font-size: 32px;
  background: -webkit-linear-gradient(blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p {
  font-size: 24px;
  text-align: center;
  width: 100%;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #ddd;
  color: #333;
}

label {
  font-size: 16px;
  text-align: center;
}

.next-piece-container {
  margin-top: 50px;
}
.next-piece-display-area {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #ddd;
}

.next-piece-display-area ul {
  width: 100%;
}

.next-piece-display-area li {
  background-color: transparent;
  border: none;
}

.next-piece-display-area li:nth-child(1),
  .next-piece-display-area li:nth-child(2),
  .next-piece-display-area li:nth-child(3),
  .next-piece-display-area li:nth-last-child(3),
  .next-piece-display-area li:nth-last-child(2),
  .next-piece-display-area li:nth-last-child(1) {
  display: none;
}

.game-over-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.game-over-screen {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
}

.game-over-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  /*background-color: rgba(0,0,0,0.7);*/
}

.game-over-bar > p {
  font-size: 32px;
  font-family: "Oswald";
  background: -webkit-linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
}

.restart-game-prompt {
  bottom: 150px;
  position: absolute;
  color: #fff;
  text-align: center;
  width: 100%;
}

.game-controls-container {
  position: absolute;
  background-color: #eee;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 5px;
  width: 160px;
}

.game-controls-container p {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: auto;
}

.game-controls-symbols {
  display: inline-block;
  height: auto;
  width: auto;
  text-align: center;
}

.game-controls-descriptions {
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  height: auto;
}

.game-controls-container li {
  display: block;
  background-color: transparent;
  height: 20px;
  width: auto;
  border: none;
  white-space: pre;
}

.red {
  background-color: #CC0000 !important;
}

.orange {
  background-color: #FF9900 !important;
}

.yellow {
  background-color: #FFFF99 !important;
}

.green {
  background-color: #009900 !important;
}

.blue {
  background-color: #0066FF !important;
}

.cyan {
  background-color: #66FFFF !important;
}

.purple {
  background-color: #6666FF !important;
}

.red,
  .orange,
  .yellow,
  .green,
  .blue,
  .cyan,
  .purple {
    border-left: 3px solid rgba(0,0,0,0.1) !important;
    border-top: 3px solid rgba(0,0,0,0.1) !important;
    border-right: 3px solid rgba(0,0,0,0.5) !important;
    border-bottom: 3px solid rgba(0,0,0,0.5) !important;
  }
