html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

body {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

.tetris-game-container {
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #999;
  border-radius: 10px;
  font-family: "Lato";
}

.tetris-game {
  display: inline-block;
  margin: 20px;
}

ul {
  display: block;
  list-style: none;
  height: 20px;
}

ul:last-child > li {
  border-bottom: none;
}

li {
  display: inline-block;
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  background-color: black;
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
}

li:last-child {
  border-right: none;
}

.tetris-game-stats {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
}

.tetris-game-stats-header {
  font-family: "Oswald";
  font-size: 32px;
}

p {
  font-size: 24px;
  text-align: center;
  width: 100%;
}

label {
  font-size: 16px;
  text-align: center;

}


.red {
  background-color: #CC0000;
}

.orange {
  background-color: #FF9900;
}

.yellow {
  background-color: #FFFF99;
}

.green {
  background-color: #009900;
}

.blue {
  background-color: #0066FF;
}

.cyan {
  background-color: #66FFFF;
}

.purple {
  background-color: #6666FF;
}

.red,
  .orange,
  .yellow,
  .green,
  .blue,
  .cyan,
  .purple {
    border-left: 3px solid rgba(0,0,0,0.1);
    border-top: 3px solid rgba(0,0,0,0.1);
    border-right: 3px solid rgba(0,0,0,0.5);
    border-bottom: 3px solid rgba(0,0,0,0.5);
    box-shadow: none;
  }
